Jar Jar Bean/xsd/aion40/client/npcs0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="front" type="xs:float"/>
  <xs:element name="side" type="xs:float"/>
  <xs:element name="upper" type="xs:float"/>
  <xs:element name="id" type="xs:int"/>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="desc" type="xs:string"/>
  <xs:element name="dir" type="xs:string"/>
  <xs:element name="mesh" type="xs:string"/>
  <xs:element name="material" type="xs:string"/>
  <xs:element name="show_dmg_decal" type="xs:int"/>
  <xs:element name="ui_type" type="xs:string"/>
  <xs:element name="cursor_type" type="xs:string"/>
  <xs:element name="hide_path" type="xs:int"/>
  <xs:element name="erect" type="xs:int"/>
  <xs:element name="bound_radius">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="front" minOccurs="0"/>
        <xs:element ref="side"/>
        <xs:element ref="upper"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="scale" type="xs:int"/>
  <xs:element name="weapon_scale" type="xs:int"/>
  <xs:element name="altitude" type="xs:float"/>
  <xs:element name="stare_angle" type="xs:float"/>
  <xs:element name="stare_distance" type="xs:float"/>
  <xs:element name="move_speed_normal_walk" type="xs:float"/>
  <xs:element name="art_org_move_speed_normal_walk" type="xs:float"/>
  <xs:element name="move_speed_normal_run" type="xs:float"/>
  <xs:element name="move_speed_combat_run" type="xs:float"/>
  <xs:element name="art_org_speed_combat_run" type="xs:float"/>
  <xs:element name="in_time" type="xs:float"/>
  <xs:element name="out_time" type="xs:float"/>
  <xs:element name="neck_angle" type="xs:float"/>
  <xs:element name="spine_angle" type="xs:float"/>
  <xs:element name="ammo_bone" type="xs:string"/>
  <xs:element name="ammo_fx" type="xs:string"/>
  <xs:element name="ammo_speed" type="xs:int"/>
  <xs:element name="pushed_range" type="xs:float"/>
  <xs:element name="hpgauge_level" type="xs:int"/>
  <xs:element name="magical_skill_boost" type="xs:int"/>
  <xs:element name="attack_delay" type="xs:int"/>
  <xs:element name="ai_name" type="xs:string"/>
  <xs:element name="tribe" type="xs:string"/>
  <xs:element name="pet_ai_name" type="xs:string"/>
  <xs:element name="sensory_range" type="xs:float"/>
  <xs:element name="attack_range" type="xs:float"/>
  <xs:element name="attack_rate" type="xs:float"/>
  <xs:element name="magical_skill_boost_resist" type="xs:int"/>
  <xs:element name="race_type" type="xs:string"/>
  <xs:element name="npc_type" type="xs:string"/>
  <xs:element name="talking_distance" type="xs:float"/>
  <xs:element name="dmg_decal_texture" type="xs:string"/>
  <xs:element name="disk_type" type="xs:string"/>
  <xs:element name="weapon_hit_fx" type="xs:string"/>
  <xs:element name="foot_mat" type="xs:string"/>
  <xs:element name="hide_shadow" type="xs:int"/>
  <xs:element name="ammo_hit_fx" type="xs:string"/>
  <xs:element name="float_corpse" type="xs:int"/>
  <xs:element name="pc_type" type="xs:string"/>
  <xs:element name="face_type" type="xs:int"/>
  <xs:element name="hair_type" type="xs:string"/>
  <xs:element name="torso" type="xs:string"/>
  <xs:element name="leg" type="xs:string"/>
  <xs:element name="foot" type="xs:string"/>
  <xs:element name="shoulder" type="xs:string"/>
  <xs:element name="glove" type="xs:string"/>
  <xs:element name="npc_title" type="xs:string"/>
  <xs:element name="ui_race_type" type="xs:string"/>
  <xs:element name="idle_animation" type="xs:string"/>
  <xs:element name="appearance">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="pc_type" minOccurs="0"/>
        <xs:element ref="face_type" minOccurs="0"/>
        <xs:element ref="face_color" minOccurs="0"/>
        <xs:element ref="hair_type" minOccurs="0"/>
        <xs:element ref="hair_color" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="visible_equipments">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="wing_mesh" minOccurs="0"/>
        <xs:element ref="wing_always" minOccurs="0"/>
        <xs:element ref="head" minOccurs="0"/>
        <xs:element ref="torso" minOccurs="0"/>
        <xs:element ref="leg" minOccurs="0"/>
        <xs:element ref="foot" minOccurs="0"/>
        <xs:element ref="shoulder" minOccurs="0"/>
        <xs:element ref="glove" minOccurs="0"/>
        <xs:element ref="left_finger" minOccurs="0"/>
        <xs:element ref="right_finger" minOccurs="0"/>
        <xs:element ref="left_ear" minOccurs="0"/>
        <xs:element ref="right_ear" minOccurs="0"/>
        <xs:element ref="main" minOccurs="0"/>
        <xs:element ref="sub" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="appearance_custom" type="xs:string"/>
  <xs:element name="game_lang" type="xs:string"/>
  <xs:element name="quest_ai_name" type="xs:string"/>
  <xs:element name="ment" type="xs:string"/>
  <xs:element name="dmg_texture" type="xs:int"/>
  <xs:element name="main" type="xs:string"/>
  <xs:element name="sub" type="xs:string"/>
  <xs:element name="undetectable" type="xs:int"/>
  <xs:element name="head" type="xs:string"/>
  <xs:element name="talk_animation" type="xs:string"/>
  <xs:element name="tab" type="xs:string"/>
  <xs:element name="data">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tab" minOccurs="0"/>
        <xs:element ref="etab" minOccurs="0"/>
        <xs:element ref="atab" minOccurs="0"/>
        <xs:element ref="ttab" minOccurs="0"/>
        <xs:element ref="buy_price_rate" minOccurs="0"/>
        <xs:element ref="ctab" minOccurs="0"/>
        <xs:element ref="tab_list" minOccurs="0"/>
        <xs:element ref="buy_tab" minOccurs="0"/>
        <xs:element ref="buy_atab" minOccurs="0"/>
        <xs:element ref="ap_buy_price_rate2" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tab_list">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="data" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buy_price_rate" type="xs:int"/>
  <xs:element name="npc_function_type" type="xs:string"/>
  <xs:element name="trade_info">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tab_list"/>
        <xs:element ref="sell_price_rate" minOccurs="0"/>
        <xs:element ref="buy_price_rate" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recovery" type="xs:int"/>
  <xs:element name="recovery_opt1" type="xs:int"/>
  <xs:element name="recovery_opt2" type="xs:int"/>
  <xs:element name="walk_animation" type="xs:string"/>
  <xs:element name="airlines_name" type="xs:string"/>
  <xs:element name="title_offset" type="xs:float"/>
  <xs:element name="face_color" type="xs:string"/>
  <xs:element name="etab" type="xs:string"/>
  <xs:element name="extra_currency_trade_info">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tab_list"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hair_color" type="xs:string"/>
  <xs:element name="extendcharwarehouse_start" type="xs:int"/>
  <xs:element name="extendcharwarehouse_end" type="xs:int"/>
  <xs:element name="give_item_proc" type="xs:int"/>
  <xs:element name="remove_item_option" type="xs:int"/>
  <xs:element name="change_item_skin" type="xs:int"/>
  <xs:element name="gather_skill_levelup" type="xs:string"/>
  <xs:element name="func_giveup_craftskill" type="xs:int"/>
  <xs:element name="extendinventory_start" type="xs:int"/>
  <xs:element name="extendinventory_end" type="xs:int"/>
  <xs:element name="package_permitted" type="xs:int"/>
  <xs:element name="town_residence" type="xs:int"/>
  <xs:element name="extendaccountwarehouse_start" type="xs:int"/>
  <xs:element name="extendaccountwarehouse_end" type="xs:int"/>
  <xs:element name="npcfaction_name" type="xs:string"/>
  <xs:element name="atab" type="xs:string"/>
  <xs:element name="guide_func" type="xs:string"/>
  <xs:element name="abyss_trade_info">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tab_list"/>
        <xs:element ref="ap_buy_price_rate" minOccurs="0"/>
        <xs:element ref="ap_sell_price_rate" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sell_price_rate" type="xs:int"/>
  <xs:element name="pvpzone" type="xs:int"/>
  <xs:element name="pvpzone_world_name" type="xs:string"/>
  <xs:element name="pvpzone_location_alias" type="xs:string"/>
  <xs:element name="edit_character_gender" type="xs:int"/>
  <xs:element name="edit_character_all" type="xs:int"/>
  <xs:element name="fxc_type" type="xs:string"/>
  <xs:element name="ttab" type="xs:string"/>
  <xs:element name="trade_in_trade_info">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tab_list"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="talk_delay_time" type="xs:int"/>
  <xs:element name="user_animation" type="xs:string"/>
  <xs:element name="wing_mesh" type="xs:string"/>
  <xs:element name="wing_always" type="xs:int"/>
  <xs:element name="func_itemcharge" type="xs:int"/>
  <xs:element name="func_town_challenge" type="xs:int"/>
  <xs:element name="func_itemcharge2" type="xs:int"/>
  <xs:element name="exclusion_list" type="xs:int"/>
  <xs:element name="check_can_see" type="xs:int"/>
  <xs:element name="deadbody_name_id" type="xs:string"/>
  <xs:element name="static" type="xs:int"/>
  <xs:element name="object_type" type="xs:int"/>
  <xs:element name="sanctuary_animation" type="xs:string"/>
  <xs:element name="str_type" type="xs:string"/>
  <xs:element name="huge_mob" type="xs:float"/>
  <xs:element name="visible_range" type="xs:int"/>
  <xs:element name="hide_pc_fx_shader" type="xs:int"/>
  <xs:element name="spawn_animation" type="xs:string"/>
  <xs:element name="abyss_npc_type" type="xs:string"/>
  <xs:element name="rotation_period" type="xs:float"/>
  <xs:element name="unrotatable" type="xs:int"/>
  <xs:element name="omit_system_msg" type="xs:int"/>
  <xs:element name="ammo_hit2_fx" type="xs:string"/>
  <xs:element name="ammo_hit3_fx" type="xs:string"/>
  <xs:element name="ammo2_fx" type="xs:string"/>
  <xs:element name="ammo3_fx" type="xs:string"/>
  <xs:element name="left_finger" type="xs:string"/>
  <xs:element name="artifact_id" type="xs:int"/>
  <xs:element name="use_script" type="xs:int"/>
  <xs:element name="match_maker" type="xs:int"/>
  <xs:element name="right_finger" type="xs:string"/>
  <xs:element name="animation_marker" type="xs:string"/>
  <xs:element name="weapon_hit2_fx" type="xs:string"/>
  <xs:element name="weapon_hit3_fx" type="xs:string"/>
  <xs:element name="jobfaction_name" type="xs:int"/>
  <xs:element name="bindstone_type" type="xs:string"/>
  <xs:element name="bindstone_capacity" type="xs:int"/>
  <xs:element name="bindstone_usecount" type="xs:int"/>
  <xs:element name="custom_match_maker" type="xs:string"/>
  <xs:element name="html_bg" type="xs:string"/>
  <xs:element name="instance_entry" type="xs:int"/>
  <xs:element name="ins_creation_id_1" type="xs:string"/>
  <xs:element name="ins_creation_id_2" type="xs:string"/>
  <xs:element name="func_enterhouse_to_instant" type="xs:int"/>
  <xs:element name="subdialog_type" type="xs:string"/>
  <xs:element name="compound_weapon" type="xs:int"/>
  <xs:element name="ctab" type="xs:string"/>
  <xs:element name="coupon_trade_info">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tab_list"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="func_pet_manage" type="xs:int"/>
  <xs:element name="left_ear" type="xs:string"/>
  <xs:element name="right_ear" type="xs:string"/>
  <xs:element name="buy_tab" type="xs:string"/>
  <xs:element name="buy_price_rate2" type="xs:int"/>
  <xs:element name="trade_buy_info">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tab_list"/>
        <xs:element ref="buy_price_rate2"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buy_atab" type="xs:string"/>
  <xs:element name="ap_buy_price_rate2" type="xs:int"/>
  <xs:element name="abyss_trade_buy_info">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tab_list"/>
        <xs:element ref="ap_buy_price_rate2"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ap_buy_price_rate" type="xs:int"/>
  <xs:element name="ap_sell_price_rate" type="xs:int"/>
  <xs:element name="func_personal_auction" type="xs:int"/>
  <xs:element name="func_housing_pay_rent" type="xs:int"/>
  <xs:element name="func_housing_kick" type="xs:int"/>
  <xs:element name="func_housing_change_building" type="xs:int"/>
  <xs:element name="func_housing_config" type="xs:int"/>
  <xs:element name="func_housing_script" type="xs:int"/>
  <xs:element name="func_recreate_personal_ins" type="xs:int"/>
  <xs:element name="subdialog_value" type="xs:int"/>
  <xs:element name="npc_client">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="name"/>
        <xs:element ref="desc"/>
        <xs:element ref="dir"/>
        <xs:element ref="mesh"/>
        <xs:element ref="material"/>
        <xs:element ref="show_dmg_decal"/>
        <xs:element ref="ui_type"/>
        <xs:element ref="cursor_type"/>
        <xs:element ref="hide_path"/>
        <xs:element ref="erect"/>
        <xs:element ref="bound_radius"/>
        <xs:element ref="scale"/>
        <xs:element ref="weapon_scale"/>
        <xs:element ref="altitude"/>
        <xs:element ref="stare_angle"/>
        <xs:element ref="stare_distance"/>
        <xs:element ref="move_speed_normal_walk"/>
        <xs:element ref="art_org_move_speed_normal_walk"/>
        <xs:element ref="move_speed_normal_run"/>
        <xs:element ref="move_speed_combat_run"/>
        <xs:element ref="art_org_speed_combat_run"/>
        <xs:element ref="in_time"/>
        <xs:element ref="out_time"/>
        <xs:element ref="neck_angle"/>
        <xs:element ref="spine_angle"/>
        <xs:element ref="ammo_bone"/>
        <xs:element ref="ammo_fx"/>
        <xs:element ref="ammo_speed"/>
        <xs:element ref="pushed_range"/>
        <xs:element ref="hpgauge_level"/>
        <xs:element ref="magical_skill_boost"/>
        <xs:element ref="attack_delay"/>
        <xs:element ref="ai_name"/>
        <xs:element ref="tribe"/>
        <xs:element ref="pet_ai_name"/>
        <xs:element ref="sensory_range"/>
        <xs:element ref="attack_range"/>
        <xs:element ref="attack_rate"/>
        <xs:element ref="magical_skill_boost_resist"/>
        <xs:element ref="race_type"/>
        <xs:element ref="npc_type"/>
        <xs:element ref="talking_distance"/>
        <xs:element ref="dmg_decal_texture"/>
        <xs:element ref="disk_type"/>
        <xs:element ref="weapon_hit_fx"/>
        <xs:element ref="foot_mat"/>
        <xs:element ref="hide_shadow"/>
        <xs:element ref="ammo_hit_fx"/>
        <xs:element ref="float_corpse"/>
        <xs:element ref="npc_title"/>
        <xs:element ref="ui_race_type"/>
        <xs:element ref="idle_animation"/>
        <xs:element ref="appearance"/>
        <xs:element ref="visible_equipments"/>
        <xs:element ref="appearance_custom"/>
        <xs:element ref="game_lang"/>
        <xs:element ref="quest_ai_name"/>
        <xs:element ref="ment"/>
        <xs:element ref="dmg_texture"/>
        <xs:element ref="undetectable"/>
        <xs:element ref="talk_animation"/>
        <xs:element ref="npc_function_type"/>
        <xs:element ref="trade_info"/>
        <xs:element ref="recovery"/>
        <xs:element ref="recovery_opt1"/>
        <xs:element ref="recovery_opt2"/>
        <xs:element ref="walk_animation"/>
        <xs:element ref="airlines_name"/>
        <xs:element ref="title_offset"/>
        <xs:element ref="extra_currency_trade_info"/>
        <xs:element ref="extendcharwarehouse_start"/>
        <xs:element ref="extendcharwarehouse_end"/>
        <xs:element ref="give_item_proc"/>
        <xs:element ref="remove_item_option"/>
        <xs:element ref="change_item_skin"/>
        <xs:element ref="gather_skill_levelup"/>
        <xs:element ref="func_giveup_craftskill"/>
        <xs:element ref="extendinventory_start"/>
        <xs:element ref="extendinventory_end"/>
        <xs:element ref="package_permitted"/>
        <xs:element ref="town_residence"/>
        <xs:element ref="extendaccountwarehouse_start"/>
        <xs:element ref="extendaccountwarehouse_end"/>
        <xs:element ref="npcfaction_name"/>
        <xs:element ref="guide_func"/>
        <xs:element ref="abyss_trade_info"/>
        <xs:element ref="pvpzone"/>
        <xs:element ref="pvpzone_world_name"/>
        <xs:element ref="pvpzone_location_alias"/>
        <xs:element ref="edit_character_gender"/>
        <xs:element ref="edit_character_all"/>
        <xs:element ref="fxc_type"/>
        <xs:element ref="trade_in_trade_info"/>
        <xs:element ref="talk_delay_time"/>
        <xs:element ref="user_animation"/>
        <xs:element ref="func_itemcharge"/>
        <xs:element ref="data"/>
        <xs:element ref="func_town_challenge"/>
        <xs:element ref="func_itemcharge2"/>
        <xs:element ref="exclusion_list"/>
        <xs:element ref="check_can_see"/>
        <xs:element ref="deadbody_name_id"/>
        <xs:element ref="static"/>
        <xs:element ref="object_type"/>
        <xs:element ref="sanctuary_animation"/>
        <xs:element ref="str_type"/>
        <xs:element ref="huge_mob"/>
        <xs:element ref="visible_range"/>
        <xs:element ref="hide_pc_fx_shader"/>
        <xs:element ref="spawn_animation"/>
        <xs:element ref="abyss_npc_type"/>
        <xs:element ref="rotation_period"/>
        <xs:element ref="unrotatable"/>
        <xs:element ref="omit_system_msg"/>
        <xs:element ref="ammo_hit2_fx"/>
        <xs:element ref="ammo_hit3_fx"/>
        <xs:element ref="ammo2_fx"/>
        <xs:element ref="ammo3_fx"/>
        <xs:element ref="artifact_id"/>
        <xs:element ref="use_script"/>
        <xs:element ref="match_maker"/>
        <xs:element ref="animation_marker"/>
        <xs:element ref="weapon_hit2_fx"/>
        <xs:element ref="weapon_hit3_fx"/>
        <xs:element ref="jobfaction_name"/>
        <xs:element ref="bindstone_type"/>
        <xs:element ref="bindstone_capacity"/>
        <xs:element ref="bindstone_usecount"/>
        <xs:element ref="custom_match_maker"/>
        <xs:element ref="html_bg"/>
        <xs:element ref="instance_entry"/>
        <xs:element ref="ins_creation_id_1"/>
        <xs:element ref="ins_creation_id_2"/>
        <xs:element ref="func_enterhouse_to_instant"/>
        <xs:element ref="subdialog_type"/>
        <xs:element ref="compound_weapon"/>
        <xs:element ref="coupon_trade_info"/>
        <xs:element ref="func_pet_manage"/>
        <xs:element ref="trade_buy_info"/>
        <xs:element ref="abyss_trade_buy_info"/>
        <xs:element ref="func_personal_auction"/>
        <xs:element ref="func_housing_pay_rent"/>
        <xs:element ref="func_housing_kick"/>
        <xs:element ref="func_housing_change_building"/>
        <xs:element ref="func_housing_config"/>
        <xs:element ref="func_housing_script"/>
        <xs:element ref="func_recreate_personal_ins"/>
        <xs:element ref="subdialog_value"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="npc_clients">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="npc_client" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated_time"/>
    </xs:complexType>
  </xs:element>
</xs:schema>