Jar Jar Bean/xsd/aion40/client/skill_learn0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="id" type="xs:short"/>
  <xs:element name="name" type="xs:short"/>
  <xs:element name="race" type="xs:string"/>
  <xs:element name="class" type="xs:string"/>
  <xs:element name="pc_level" type="xs:byte"/>
  <xs:element name="skill" type="xs:string"/>
  <xs:element name="skill_level" type="xs:byte"/>
  <xs:element name="autolearn" type="xs:string"/>
  <xs:element name="ui_display" type="xs:byte"/>
  <xs:element name="stigma_display" type="xs:byte"/>
  <xs:element name="client_skill_learn">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="name"/>
        <xs:element ref="race"/>
        <xs:element ref="class"/>
        <xs:element ref="pc_level"/>
        <xs:element ref="skill"/>
        <xs:element ref="skill_level"/>
        <xs:element ref="autolearn" minOccurs="0"/>
        <xs:element ref="ui_display"/>
        <xs:element ref="stigma_display" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="client_skill_learns">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="client_skill_learn" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated_time"/>
    </xs:complexType>
  </xs:element>
</xs:schema>