Jar Jar Bean/xsd/aion40/client/toypets0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="id" type="xs:int"/>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="desc" type="xs:string"/>
  <xs:element name="use_doping_drink" type="xs:string"/>
  <xs:element name="use_doping_food" type="xs:string"/>
  <xs:element name="use_doping_scroll" type="xs:int"/>
  <xs:element name="client_toypet_doping">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="name"/>
        <xs:element ref="desc"/>
        <xs:element ref="use_doping_drink"/>
        <xs:element ref="use_doping_food"/>
        <xs:element ref="use_doping_scroll"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="client_toypet_dopings">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="client_toypet_doping" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated_time"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="limit_love_count" type="xs:int"/>
  <xs:element name="love_flavor_id_1" type="xs:int"/>
  <xs:element name="love_flavor_desc_1" type="xs:string"/>
  <xs:element name="love_flavor_id_2" type="xs:int"/>
  <xs:element name="love_flavor_desc_2" type="xs:string"/>
  <xs:element name="feeding_count" type="xs:int"/>
  <xs:element name="favorite_flavor_id" type="xs:int"/>
  <xs:element name="favorite_flavor_desc" type="xs:string"/>
  <xs:element name="feeding_cooltime" type="xs:int"/>
  <xs:element name="love_flavor_id_3" type="xs:int"/>
  <xs:element name="love_flavor_desc_3" type="xs:string"/>
  <xs:element name="love_flavor_id_4" type="xs:int"/>
  <xs:element name="love_flavor_desc_4" type="xs:string"/>
  <xs:element name="client_toypet_feed">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="name"/>
        <xs:element ref="desc"/>
        <xs:element ref="limit_love_count" minOccurs="0"/>
        <xs:element ref="love_flavor_id_1" minOccurs="0"/>
        <xs:element ref="love_flavor_desc_1" minOccurs="0"/>
        <xs:element ref="love_flavor_id_2" minOccurs="0"/>
        <xs:element ref="love_flavor_desc_2" minOccurs="0"/>
        <xs:element ref="love_flavor_id_3" minOccurs="0"/>
        <xs:element ref="love_flavor_desc_3" minOccurs="0"/>
        <xs:element ref="love_flavor_id_4" minOccurs="0"/>
        <xs:element ref="love_flavor_desc_4" minOccurs="0"/>
        <xs:element ref="feeding_count" minOccurs="0"/>
        <xs:element ref="favorite_flavor_id" minOccurs="0"/>
        <xs:element ref="favorite_flavor_desc" minOccurs="0"/>
        <xs:element ref="feeding_cooltime" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="client_toypet_feeds">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="client_toypet_feed" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated_time"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="mesh" type="xs:string"/>
  <xs:element name="attach_part" type="xs:string"/>
  <xs:element name="desc_long" type="xs:string"/>
  <xs:element name="client_toypet_item">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="name"/>
        <xs:element ref="desc" minOccurs="0"/>
        <xs:element ref="desc_long" minOccurs="0"/>
        <xs:element ref="mesh"/>
        <xs:element ref="attach_part"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="client_toypet_items">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="client_toypet_item" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated_time"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="client_toypet_looting">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="name"/>
        <xs:element ref="desc"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="client_toypet_lootings">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="client_toypet_looting"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated_time"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="warehouse_slot_type" type="xs:string"/>
  <xs:element name="warehouse_slot_count" type="xs:int"/>
  <xs:element name="client_toypet_warehouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="name"/>
        <xs:element ref="desc"/>
        <xs:element ref="warehouse_slot_type"/>
        <xs:element ref="warehouse_slot_count"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="client_toypet_warehouses">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="client_toypet_warehouse" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated_time"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ui_color" type="xs:string"/>
  <xs:element name="data">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ui_color"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="front" type="xs:float"/>
  <xs:element name="side" type="xs:float"/>
  <xs:element name="upper" type="xs:float"/>
  <xs:element name="ask_cute_desc" type="xs:string"/>
  <xs:element name="ask_whining_desc" type="xs:string"/>
  <xs:element name="ask_lone_desc" type="xs:string"/>
  <xs:element name="react_praise_a_good_desc01" type="xs:string"/>
  <xs:element name="react_praise_a_good_desc02" type="xs:string"/>
  <xs:element name="react_praise_a_better_desc01" type="xs:string"/>
  <xs:element name="react_praise_a_better_desc02" type="xs:string"/>
  <xs:element name="react_praise_b_good_desc01" type="xs:string"/>
  <xs:element name="react_praise_b_good_desc02" type="xs:string"/>
  <xs:element name="react_praise_b_better_desc01" type="xs:string"/>
  <xs:element name="react_praise_b_better_desc02" type="xs:string"/>
  <xs:element name="react_praise_c_good_desc01" type="xs:string"/>
  <xs:element name="react_praise_c_good_desc02" type="xs:string"/>
  <xs:element name="react_praise_c_better_desc01" type="xs:string"/>
  <xs:element name="react_praise_c_better_desc02" type="xs:string"/>
  <xs:element name="react_praise_d_good_desc01" type="xs:string"/>
  <xs:element name="react_praise_d_good_desc02" type="xs:string"/>
  <xs:element name="react_praise_d_better_desc01" type="xs:string"/>
  <xs:element name="react_praise_d_better_desc02" type="xs:string"/>
  <xs:element name="react_praise_critical_desc01" type="xs:string"/>
  <xs:element name="react_praise_critical_desc02" type="xs:string"/>
  <xs:element name="react_play_a_good_desc01" type="xs:string"/>
  <xs:element name="react_play_a_good_desc02" type="xs:string"/>
  <xs:element name="react_play_a_better_desc01" type="xs:string"/>
  <xs:element name="react_play_a_better_desc02" type="xs:string"/>
  <xs:element name="react_play_b_good_desc01" type="xs:string"/>
  <xs:element name="react_play_b_good_desc02" type="xs:string"/>
  <xs:element name="react_play_b_better_desc01" type="xs:string"/>
  <xs:element name="react_play_b_better_desc02" type="xs:string"/>
  <xs:element name="react_play_c_good_desc01" type="xs:string"/>
  <xs:element name="react_play_c_good_desc02" type="xs:string"/>
  <xs:element name="react_play_c_better_desc01" type="xs:string"/>
  <xs:element name="react_play_c_better_desc02" type="xs:string"/>
  <xs:element name="react_play_d_good_desc01" type="xs:string"/>
  <xs:element name="react_play_d_good_desc02" type="xs:string"/>
  <xs:element name="react_play_d_better_desc01" type="xs:string"/>
  <xs:element name="react_play_d_better_desc02" type="xs:string"/>
  <xs:element name="react_play_critical_desc01" type="xs:string"/>
  <xs:element name="react_play_critical_desc02" type="xs:string"/>
  <xs:element name="react_care_a_good_desc01" type="xs:string"/>
  <xs:element name="react_care_a_good_desc02" type="xs:string"/>
  <xs:element name="react_care_a_better_desc01" type="xs:string"/>
  <xs:element name="react_care_a_better_desc02" type="xs:string"/>
  <xs:element name="react_care_b_good_desc01" type="xs:string"/>
  <xs:element name="react_care_b_good_desc02" type="xs:string"/>
  <xs:element name="react_care_b_better_desc01" type="xs:string"/>
  <xs:element name="react_care_b_better_desc02" type="xs:string"/>
  <xs:element name="react_care_c_good_desc01" type="xs:string"/>
  <xs:element name="react_care_c_good_desc02" type="xs:string"/>
  <xs:element name="react_care_c_better_desc01" type="xs:string"/>
  <xs:element name="react_care_c_better_desc02" type="xs:string"/>
  <xs:element name="react_care_d_good_desc01" type="xs:string"/>
  <xs:element name="react_care_d_good_desc02" type="xs:string"/>
  <xs:element name="react_care_d_better_desc01" type="xs:string"/>
  <xs:element name="react_care_d_better_desc02" type="xs:string"/>
  <xs:element name="react_care_critical_desc01" type="xs:string"/>
  <xs:element name="react_care_critical_desc02" type="xs:string"/>
  <xs:element name="react_train_a_good_desc01" type="xs:string"/>
  <xs:element name="react_train_a_good_desc02" type="xs:string"/>
  <xs:element name="react_train_a_better_desc01" type="xs:string"/>
  <xs:element name="react_train_a_better_desc02" type="xs:string"/>
  <xs:element name="react_train_b_good_desc01" type="xs:string"/>
  <xs:element name="react_train_b_good_desc02" type="xs:string"/>
  <xs:element name="react_train_b_better_desc01" type="xs:string"/>
  <xs:element name="react_train_b_better_desc02" type="xs:string"/>
  <xs:element name="react_train_c_good_desc01" type="xs:string"/>
  <xs:element name="react_train_c_good_desc02" type="xs:string"/>
  <xs:element name="react_train_c_better_desc01" type="xs:string"/>
  <xs:element name="react_train_c_better_desc02" type="xs:string"/>
  <xs:element name="react_train_d_good_desc01" type="xs:string"/>
  <xs:element name="react_train_d_good_desc02" type="xs:string"/>
  <xs:element name="react_train_d_better_desc01" type="xs:string"/>
  <xs:element name="react_train_d_better_desc02" type="xs:string"/>
  <xs:element name="react_train_critical_desc01" type="xs:string"/>
  <xs:element name="react_train_critical_desc02" type="xs:string"/>
  <xs:element name="func_type1" type="xs:string"/>
  <xs:element name="func_type_name1" type="xs:string"/>
  <xs:element name="func_type2" type="xs:string"/>
  <xs:element name="func_type_name2" type="xs:string"/>
  <xs:element name="enemy_alarm" type="xs:int"/>
  <xs:element name="icon_name" type="xs:string"/>
  <xs:element name="cam_pos" type="xs:string"/>
  <xs:element name="target_sound" type="xs:string"/>
  <xs:element name="foot_mat" type="xs:string"/>
  <xs:element name="pet_condition_reward" type="xs:string"/>
  <xs:element name="dir" type="xs:string"/>
  <xs:element name="customize_color" type="xs:int"/>
  <xs:element name="color" type="xs:string"/>
  <xs:element name="wing" type="xs:string"/>
  <xs:element name="bag" type="xs:string"/>
  <xs:element name="customize_attach" type="xs:int"/>
  <xs:element name="attach_mesh_size" type="xs:string"/>
  <xs:element name="combat_reaction" type="xs:string"/>
  <xs:element name="ui_colors">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="data" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iserect" type="xs:int"/>
  <xs:element name="bound_radius">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="front"/>
        <xs:element ref="side"/>
        <xs:element ref="upper"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="scale" type="xs:int"/>
  <xs:element name="altitude" type="xs:float"/>
  <xs:element name="art_org_move_speed_normal_walk" type="xs:float"/>
  <xs:element name="art_org_speed_normal_run" type="xs:float"/>
  <xs:element name="client_toypet">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="name"/>
        <xs:element ref="desc"/>
        <xs:element ref="desc_long"/>
        <xs:element ref="ask_cute_desc"/>
        <xs:element ref="ask_whining_desc"/>
        <xs:element ref="ask_lone_desc"/>
        <xs:element ref="react_praise_a_good_desc01"/>
        <xs:element ref="react_praise_a_good_desc02"/>
        <xs:element ref="react_praise_a_better_desc01"/>
        <xs:element ref="react_praise_a_better_desc02"/>
        <xs:element ref="react_praise_b_good_desc01"/>
        <xs:element ref="react_praise_b_good_desc02"/>
        <xs:element ref="react_praise_b_better_desc01"/>
        <xs:element ref="react_praise_b_better_desc02"/>
        <xs:element ref="react_praise_c_good_desc01"/>
        <xs:element ref="react_praise_c_good_desc02"/>
        <xs:element ref="react_praise_c_better_desc01"/>
        <xs:element ref="react_praise_c_better_desc02"/>
        <xs:element ref="react_praise_d_good_desc01"/>
        <xs:element ref="react_praise_d_good_desc02"/>
        <xs:element ref="react_praise_d_better_desc01"/>
        <xs:element ref="react_praise_d_better_desc02"/>
        <xs:element ref="react_praise_critical_desc01"/>
        <xs:element ref="react_praise_critical_desc02"/>
        <xs:element ref="react_play_a_good_desc01"/>
        <xs:element ref="react_play_a_good_desc02"/>
        <xs:element ref="react_play_a_better_desc01"/>
        <xs:element ref="react_play_a_better_desc02"/>
        <xs:element ref="react_play_b_good_desc01"/>
        <xs:element ref="react_play_b_good_desc02"/>
        <xs:element ref="react_play_b_better_desc01"/>
        <xs:element ref="react_play_b_better_desc02"/>
        <xs:element ref="react_play_c_good_desc01"/>
        <xs:element ref="react_play_c_good_desc02"/>
        <xs:element ref="react_play_c_better_desc01"/>
        <xs:element ref="react_play_c_better_desc02"/>
        <xs:element ref="react_play_d_good_desc01"/>
        <xs:element ref="react_play_d_good_desc02"/>
        <xs:element ref="react_play_d_better_desc01"/>
        <xs:element ref="react_play_d_better_desc02"/>
        <xs:element ref="react_play_critical_desc01"/>
        <xs:element ref="react_play_critical_desc02"/>
        <xs:element ref="react_care_a_good_desc01"/>
        <xs:element ref="react_care_a_good_desc02"/>
        <xs:element ref="react_care_a_better_desc01"/>
        <xs:element ref="react_care_a_better_desc02"/>
        <xs:element ref="react_care_b_good_desc01"/>
        <xs:element ref="react_care_b_good_desc02"/>
        <xs:element ref="react_care_b_better_desc01"/>
        <xs:element ref="react_care_b_better_desc02"/>
        <xs:element ref="react_care_c_good_desc01"/>
        <xs:element ref="react_care_c_good_desc02"/>
        <xs:element ref="react_care_c_better_desc01"/>
        <xs:element ref="react_care_c_better_desc02"/>
        <xs:element ref="react_care_d_good_desc01"/>
        <xs:element ref="react_care_d_good_desc02"/>
        <xs:element ref="react_care_d_better_desc01"/>
        <xs:element ref="react_care_d_better_desc02"/>
        <xs:element ref="react_care_critical_desc01"/>
        <xs:element ref="react_care_critical_desc02"/>
        <xs:element ref="react_train_a_good_desc01"/>
        <xs:element ref="react_train_a_good_desc02"/>
        <xs:element ref="react_train_a_better_desc01"/>
        <xs:element ref="react_train_a_better_desc02"/>
        <xs:element ref="react_train_b_good_desc01"/>
        <xs:element ref="react_train_b_good_desc02"/>
        <xs:element ref="react_train_b_better_desc01"/>
        <xs:element ref="react_train_b_better_desc02"/>
        <xs:element ref="react_train_c_good_desc01"/>
        <xs:element ref="react_train_c_good_desc02"/>
        <xs:element ref="react_train_c_better_desc01"/>
        <xs:element ref="react_train_c_better_desc02"/>
        <xs:element ref="react_train_d_good_desc01"/>
        <xs:element ref="react_train_d_good_desc02"/>
        <xs:element ref="react_train_d_better_desc01"/>
        <xs:element ref="react_train_d_better_desc02"/>
        <xs:element ref="react_train_critical_desc01"/>
        <xs:element ref="react_train_critical_desc02"/>
        <xs:element ref="func_type1" minOccurs="0"/>
        <xs:element ref="func_type_name1" minOccurs="0"/>
        <xs:element ref="func_type2" minOccurs="0"/>
        <xs:element ref="func_type_name2" minOccurs="0"/>
        <xs:element ref="enemy_alarm" minOccurs="0"/>
        <xs:element ref="icon_name"/>
        <xs:element ref="cam_pos"/>
        <xs:element ref="target_sound"/>
        <xs:element ref="foot_mat" minOccurs="0"/>
        <xs:element ref="pet_condition_reward"/>
        <xs:element ref="dir"/>
        <xs:element ref="mesh"/>
        <xs:element ref="customize_color"/>
        <xs:element ref="color" minOccurs="0"/>
        <xs:element ref="wing" minOccurs="0"/>
        <xs:element ref="bag" minOccurs="0"/>
        <xs:element ref="customize_attach" minOccurs="0"/>
        <xs:element ref="attach_mesh_size" minOccurs="0"/>
        <xs:element ref="combat_reaction" minOccurs="0"/>
        <xs:element ref="ui_colors" minOccurs="0"/>
        <xs:element ref="iserect"/>
        <xs:element ref="bound_radius"/>
        <xs:element ref="scale"/>
        <xs:element ref="altitude"/>
        <xs:element ref="art_org_move_speed_normal_walk"/>
        <xs:element ref="art_org_speed_normal_run"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="client_toypets">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="client_toypet" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated_time"/>
    </xs:complexType>
  </xs:element>
</xs:schema>