Jar Jar Bean/xsd/aion40/input/animations0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="id" type="xs:byte"/>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="desc" type="xs:string"/>
  <xs:element name="desc_long" type="xs:string"/>
  <xs:element name="type" type="xs:string"/>
  <xs:element name="custom_anim_name" type="xs:string"/>
  <xs:element name="custom_animation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="name"/>
        <xs:element ref="desc"/>
        <xs:element ref="desc_long"/>
        <xs:element ref="type"/>
        <xs:element ref="custom_anim_name"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="custom_animations">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="custom_animation" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated_time" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>