Jar Jar Bean/xsd/aion40/input/recipes0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="id" type="xs:int"/>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="desc" type="xs:string"/>
  <xs:element name="combineskill" type="xs:string"/>
  <xs:element name="qualification_race" type="xs:string"/>
  <xs:element name="required_skillpoint" type="xs:short"/>
  <xs:element name="auto_learn" type="xs:byte"/>
  <xs:element name="product" type="xs:string"/>
  <xs:element name="product_quantity" type="xs:byte"/>
  <xs:element name="component_quantity" type="xs:byte"/>
  <xs:element name="component1" type="xs:string"/>
  <xs:element name="compo1_quantity" type="xs:short"/>
  <xs:element name="require_dp" type="xs:short"/>
  <xs:element name="component2" type="xs:string"/>
  <xs:element name="compo2_quantity" type="xs:short"/>
  <xs:element name="component3" type="xs:string"/>
  <xs:element name="compo3_quantity" type="xs:short"/>
  <xs:element name="component4" type="xs:string"/>
  <xs:element name="compo4_quantity" type="xs:short"/>
  <xs:element name="combo1_product" type="xs:string"/>
  <xs:element name="component5" type="xs:string"/>
  <xs:element name="compo5_quantity" type="xs:short"/>
  <xs:element name="component6" type="xs:string"/>
  <xs:element name="compo6_quantity" type="xs:short"/>
  <xs:element name="combo2_product" type="xs:string"/>
  <xs:element name="component7" type="xs:string"/>
  <xs:element name="compo7_quantity" type="xs:byte"/>
  <xs:element name="desc_craftman" type="xs:string"/>
  <xs:element name="max_production_count" type="xs:byte"/>
  <xs:element name="craft_delay_id" type="xs:int"/>
  <xs:element name="craft_delay_time" type="xs:int"/>
  <xs:element name="task_type" type="xs:byte"/>
  <xs:element name="combo3_product" type="xs:string"/>
  <xs:element name="combo4_product" type="xs:string"/>
  <xs:element name="component8" type="xs:string"/>
  <xs:element name="compo8_quantity" type="xs:byte"/>
  <xs:element name="client_combine_recipe">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="id"/>
        <xs:element ref="name"/>
        <xs:element ref="desc"/>
        <xs:element ref="combineskill"/>
        <xs:element ref="qualification_race"/>
        <xs:element ref="required_skillpoint"/>
        <xs:element ref="auto_learn"/>
        <xs:element ref="product"/>
        <xs:element ref="product_quantity"/>
        <xs:element ref="component_quantity"/>
        <xs:element ref="component1"/>
        <xs:element ref="compo1_quantity"/>
        <xs:element ref="require_dp"/>
        <xs:element ref="component2"/>
        <xs:element ref="compo2_quantity"/>
        <xs:element ref="component3"/>
        <xs:element ref="compo3_quantity"/>
        <xs:element ref="component4"/>
        <xs:element ref="compo4_quantity"/>
        <xs:element ref="component5"/>
        <xs:element ref="compo5_quantity"/>
        <xs:element ref="combo1_product"/>
        <xs:element ref="component6"/>
        <xs:element ref="compo6_quantity"/>
        <xs:element ref="combo2_product"/>
        <xs:element ref="component7"/>
        <xs:element ref="compo7_quantity"/>
        <xs:element ref="desc_craftman"/>
        <xs:element ref="max_production_count"/>
        <xs:element ref="craft_delay_id"/>
        <xs:element ref="craft_delay_time"/>
        <xs:element ref="task_type"/>
        <xs:element ref="combo3_product"/>
        <xs:element ref="combo4_product"/>
        <xs:element ref="component8"/>
        <xs:element ref="compo8_quantity"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="client_combine_recipes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="client_combine_recipe" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated_time"/>
    </xs:complexType>
  </xs:element>
</xs:schema>