Jar Jar Bean/xsd/aion40/input/rides0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="front" type="xs:float"/>
  <xs:element name="side" type="xs:float"/>
  <xs:element name="upper" type="xs:float"/>
  <xs:element name="id" type="xs:int"/>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="ride_type" type="xs:byte"/>
  <xs:element name="motion" type="xs:string"/>
  <xs:element name="mesh" type="xs:string"/>
  <xs:element name="guild_color" type="xs:byte"/>
  <xs:element name="move_speed" type="xs:float"/>
  <xs:element name="fly_speed" type="xs:float"/>
  <xs:element name="can_sprint" type="xs:byte"/>
  <xs:element name="sprint_speed" type="xs:float"/>
  <xs:element name="start_fp" type="xs:byte"/>
  <xs:element name="cost_fp" type="xs:byte"/>
  <xs:element name="erect" type="xs:byte"/>
  <xs:element name="bound_radius">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="front"/>
        <xs:element ref="side"/>
        <xs:element ref="upper"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="altitude" type="xs:float"/>
  <xs:element name="camera_offset" type="xs:float"/>
  <xs:element name="default_color" type="xs:string"/>
  <xs:element name="foot_mat" type="xs:string"/>
  <xs:element name="emblem1" type="xs:string"/>
  <xs:element name="emblem2" type="xs:string"/>
  <xs:element name="visible_equipments">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="emblem1"/>
        <xs:element ref="emblem2"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wing_mesh" type="xs:string"/>
  <xs:element name="ride_bone" type="xs:byte"/>
  <xs:element name="scale" type="xs:byte"/>
  <xs:element name="client_ride_data">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="name"/>
        <xs:element ref="ride_type"/>
        <xs:element ref="motion"/>
        <xs:element ref="mesh"/>
        <xs:element ref="ride_bone" minOccurs="0"/>
        <xs:element ref="guild_color"/>
        <xs:element ref="default_color" minOccurs="0"/>
        <xs:element ref="wing_mesh" minOccurs="0"/>
        <xs:element ref="foot_mat" minOccurs="0"/>
        <xs:element ref="move_speed"/>
        <xs:element ref="fly_speed"/>
        <xs:element ref="can_sprint"/>
        <xs:element ref="sprint_speed"/>
        <xs:element ref="start_fp"/>
        <xs:element ref="cost_fp"/>
        <xs:element ref="erect"/>
        <xs:element ref="bound_radius"/>
        <xs:element ref="scale" minOccurs="0"/>
        <xs:element ref="altitude"/>
        <xs:element ref="camera_offset"/>
        <xs:element ref="visible_equipments" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="client_ride_datas">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="client_ride_data" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated_time"/>
    </xs:complexType>
  </xs:element>
</xs:schema>