Jar Jar Bean/xsd/aion40/server/mission0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="spot">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="model" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:float" name="x" use="optional"/>
      <xs:attribute type="xs:float" name="y" use="optional"/>
      <xs:attribute type="xs:float" name="z" use="optional"/>
      <xs:attribute type="xs:int" name="h" use="optional"/>
      <xs:attribute type="xs:int" name="static_id" use="optional"/>
      <xs:attribute type="xs:string" name="walker_id" use="optional"/>
      <xs:attribute type="xs:int" name="random_walk" use="optional"/>
      <xs:attribute type="xs:int" name="walker_index" use="optional"/>
      <xs:attribute type="xs:int" name="state" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="spawn">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="spot" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:int" name="npc_id" use="optional"/>
      <xs:attribute type="xs:int" name="respawn_time" use="optional"/>
      <xs:attribute type="xs:string" name="spawn_time" use="optional"/>
      <xs:attribute type="xs:int" name="pool" use="optional"/>
      <xs:attribute type="xs:int" name="difficult_id" use="optional"/>
      <xs:attribute type="xs:string" name="custom" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="spawn_map">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="spawn" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:int" name="map_id" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="spawns">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="spawn_map" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="model">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="ai" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>