Jar Jar Bean/xsd/aion40/server/walkers0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="routestep">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:short" name="step" use="optional"/>
          <xs:attribute type="xs:float" name="x" use="optional"/>
          <xs:attribute type="xs:float" name="y" use="optional"/>
          <xs:attribute type="xs:float" name="z" use="optional"/>
          <xs:attribute type="xs:short" name="rest_time" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="walker_template">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="routestep" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="route_id" use="optional"/>
      <xs:attribute type="xs:byte" name="pool" use="optional"/>
      <xs:attribute type="xs:string" name="formation" use="optional"/>
      <xs:attribute type="xs:string" name="rows" use="optional"/>
      <xs:attribute type="xs:string" name="reversed" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="npc_walker">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="walker_template" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>