Bindings/xsd/aion40/input/items0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="id" type="xs:int"/>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="desc" type="xs:string"/>
  <xs:element name="armor_type" type="xs:string"/>
  <xs:element name="item_type" type="xs:string"/>
  <xs:element name="material" type="xs:string"/>
  <xs:element name="icon_name" type="xs:string"/>
  <xs:element name="price" type="xs:int"/>
  <xs:element name="max_stack_count" type="xs:int"/>
  <xs:element name="equipment_slots" type="xs:string"/>
  <xs:element name="dodge" type="xs:short"/>
  <xs:element name="quality" type="xs:string"/>
  <xs:element name="level" type="xs:short"/>
  <xs:element name="magical_resist" type="xs:short"/>
  <xs:element name="physical_defend" type="xs:short"/>
  <xs:element name="lore" type="xs:string"/>
  <xs:element name="can_exchange" type="xs:string"/>
  <xs:element name="can_sell_to_npc" type="xs:string"/>
  <xs:element name="can_deposit_to_character_warehouse" type="xs:string"/>
  <xs:element name="can_deposit_to_account_warehouse" type="xs:string"/>
  <xs:element name="can_deposit_to_guild_warehouse" type="xs:string"/>
  <xs:element name="breakable" type="xs:string"/>
  <xs:element name="soul_bind" type="xs:string"/>
  <xs:element name="remove_when_logout" type="xs:string"/>
  <xs:element name="gender_permitted" type="xs:string"/>
  <xs:element name="warrior" type="xs:byte"/>
  <xs:element name="scout" type="xs:byte"/>
  <xs:element name="mage" type="xs:byte"/>
  <xs:element name="cleric" type="xs:byte"/>
  <xs:element name="engineer" type="xs:byte"/>
  <xs:element name="artist" type="xs:byte"/>
  <xs:element name="fighter" type="xs:byte"/>
  <xs:element name="knight" type="xs:byte"/>
  <xs:element name="assassin" type="xs:byte"/>
  <xs:element name="ranger" type="xs:byte"/>
  <xs:element name="wizard" type="xs:byte"/>
  <xs:element name="elementalist" type="xs:byte"/>
  <xs:element name="chanter" type="xs:byte"/>
  <xs:element name="priest" type="xs:byte"/>
  <xs:element name="gunner" type="xs:byte"/>
  <xs:element name="bard" type="xs:byte"/>
  <xs:element name="rider" type="xs:byte"/>
  <xs:element name="option_slot_value" type="xs:byte"/>
  <xs:element name="special_slot_value" type="xs:byte"/>
  <xs:element name="option_slot_bonus" type="xs:byte"/>
  <xs:element name="bonus_apply" type="xs:string"/>
  <xs:element name="no_enchant" type="xs:string"/>
  <xs:element name="max_enchant_value" type="xs:byte"/>
  <xs:element name="cannot_changeskin" type="xs:byte"/>
  <xs:element name="ui_sound_type" type="xs:string"/>
  <xs:element name="cash_item" type="xs:byte"/>
  <xs:element name="can_split" type="xs:string"/>
  <xs:element name="item_drop_permitted" type="xs:string"/>
  <xs:element name="can_ap_extraction" type="xs:string"/>
  <xs:element name="mesh" type="xs:string"/>
  <xs:element name="mesh_change" type="xs:byte"/>
  <xs:element name="can_dye" type="xs:byte"/>
  <xs:element name="race_permitted" type="xs:string"/>
  <xs:element name="default_color_m" type="xs:string"/>
  <xs:element name="default_color_f" type="xs:string"/>
  <xs:element name="bonus_attr8" type="xs:string"/>
  <xs:element name="bonus_attr9" type="xs:string"/>
  <xs:element name="bonus_attr1" type="xs:string"/>
  <xs:element name="bonus_attr3" type="xs:string"/>
  <xs:element name="bonus_attr2" type="xs:string"/>
  <xs:element name="bonus_attr4" type="xs:string"/>
  <xs:element name="bm_restrict_category" type="xs:byte"/>
  <xs:element name="disposable_trade_item" type="xs:string"/>
  <xs:element name="disposable_trade_item_count" type="xs:byte"/>
  <xs:element name="temporary_exchange_time" type="xs:byte"/>
  <xs:element name="visual_slot" type="xs:string"/>
  <xs:element name="extract_skin_type" type="xs:byte"/>
  <xs:element name="cannot_matter_option" type="xs:string"/>
  <xs:element name="cannot_extraction" type="xs:string"/>
  <xs:element name="abyss_point" type="xs:int"/>
  <xs:element name="bonus_attr12" type="xs:string"/>
  <xs:element name="abyss_item" type="xs:string"/>
  <xs:element name="abyss_item_count" type="xs:short"/>
  <xs:element name="desc_long" type="xs:string"/>
  <xs:element name="extra_currency_item" type="xs:string"/>
  <xs:element name="extra_currency_item_count" type="xs:int"/>
  <xs:element name="bonus_attr5" type="xs:string"/>
  <xs:element name="bonus_attr6" type="xs:string"/>
  <xs:element name="bonus_attr7" type="xs:string"/>
  <xs:element name="bonus_attr10" type="xs:string"/>
  <xs:element name="bonus_attr11" type="xs:string"/>
  <xs:element name="desc_craftman" type="xs:string"/>
  <xs:element name="expire_time" type="xs:int"/>
  <xs:element name="tag" type="xs:string"/>
  <xs:element name="guild_level_permitted" type="xs:byte"/>
  <xs:element name="use_emblem" type="xs:byte"/>
  <xs:element name="charge_way" type="xs:byte"/>
  <xs:element name="charge_level" type="xs:byte"/>
  <xs:element name="charge_price1" type="xs:float"/>
  <xs:element name="bonus_attr_a1" type="xs:string"/>
  <xs:element name="bonus_attr_a2" type="xs:string"/>
  <xs:element name="bonus_attr_a3" type="xs:string"/>
  <xs:element name="bonus_attr_a4" type="xs:string"/>
  <xs:element name="burn_on_attack" type="xs:short"/>
  <xs:element name="burn_on_defend" type="xs:byte"/>
  <xs:element name="charge_price2" type="xs:float"/>
  <xs:element name="bonus_attr_b1" type="xs:string"/>
  <xs:element name="bonus_attr_b2" type="xs:string"/>
  <xs:element name="bonus_attr_b3" type="xs:string"/>
  <xs:element name="bonus_attr_b4" type="xs:string"/>
  <xs:element name="magical_defend" type="xs:short"/>
  <xs:element name="trade_in_item" type="xs:string"/>
  <xs:element name="trade_in_item_count" type="xs:int"/>
  <xs:element name="data">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="trade_in_item" minOccurs="0"/>
        <xs:element ref="trade_in_item_count" minOccurs="0"/>
        <xs:element ref="data" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="trade_in_item_list">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="data" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="magical_skill_boost_resist" type="xs:short"/>
  <xs:element name="random_option_set" type="xs:string"/>
  <xs:element name="usable_rank_min" type="xs:byte"/>
  <xs:element name="reidentify_count" type="xs:byte"/>
  <xs:element name="confirm_to_delete_cash_item" type="xs:string"/>
  <xs:element name="trade_in_abyss_point" type="xs:int"/>
  <xs:element name="max_hp" type="xs:short"/>
  <xs:element name="physical_critical_reduce_rate" type="xs:short"/>
  <xs:element name="block" type="xs:short"/>
  <xs:element name="damage_reduce" type="xs:byte"/>
  <xs:element name="reduce_max" type="xs:short"/>
  <xs:element name="max_enchant_bonus" type="xs:byte"/>
  <xs:element name="usable_rank_max" type="xs:byte"/>
  <xs:element name="cash_available_minute" type="xs:int"/>
  <xs:element name="blade_fx" type="xs:byte"/>
  <xs:element name="item_fx" type="xs:string"/>
  <xs:element name="gathering_point" type="xs:short"/>
  <xs:element name="client_item">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="name"/>
        <xs:element ref="desc"/>
        <xs:element ref="armor_type"/>
        <xs:element ref="item_type"/>
        <xs:element ref="material"/>
        <xs:element ref="icon_name"/>
        <xs:element ref="price"/>
        <xs:element ref="max_stack_count"/>
        <xs:element ref="equipment_slots"/>
        <xs:element ref="dodge"/>
        <xs:element ref="quality"/>
        <xs:element ref="level"/>
        <xs:element ref="magical_resist"/>
        <xs:element ref="physical_defend"/>
        <xs:element ref="lore"/>
        <xs:element ref="can_exchange"/>
        <xs:element ref="can_sell_to_npc"/>
        <xs:element ref="can_deposit_to_character_warehouse"/>
        <xs:element ref="can_deposit_to_account_warehouse"/>
        <xs:element ref="can_deposit_to_guild_warehouse"/>
        <xs:element ref="breakable"/>
        <xs:element ref="soul_bind"/>
        <xs:element ref="remove_when_logout"/>
        <xs:element ref="gender_permitted"/>
        <xs:element ref="warrior"/>
        <xs:element ref="scout"/>
        <xs:element ref="mage"/>
        <xs:element ref="cleric"/>
        <xs:element ref="engineer"/>
        <xs:element ref="artist"/>
        <xs:element ref="fighter"/>
        <xs:element ref="knight"/>
        <xs:element ref="assassin"/>
        <xs:element ref="ranger"/>
        <xs:element ref="wizard"/>
        <xs:element ref="elementalist"/>
        <xs:element ref="chanter"/>
        <xs:element ref="priest"/>
        <xs:element ref="gunner"/>
        <xs:element ref="bard"/>
        <xs:element ref="rider"/>
        <xs:element ref="option_slot_value"/>
        <xs:element ref="special_slot_value"/>
        <xs:element ref="option_slot_bonus"/>
        <xs:element ref="bonus_attr1"/>
        <xs:element ref="bonus_attr3"/>
        <xs:element ref="bonus_attr8"/>
        <xs:element ref="bonus_attr2"/>
        <xs:element ref="bonus_attr9"/>
        <xs:element ref="bonus_apply"/>
        <xs:element ref="no_enchant"/>
        <xs:element ref="max_enchant_value"/>
        <xs:element ref="cannot_changeskin"/>
        <xs:element ref="ui_sound_type"/>
        <xs:element ref="cash_item"/>
        <xs:element ref="can_split"/>
        <xs:element ref="item_drop_permitted"/>
        <xs:element ref="can_ap_extraction"/>
        <xs:element ref="mesh"/>
        <xs:element ref="mesh_change"/>
        <xs:element ref="default_color_m"/>
        <xs:element ref="default_color_f"/>
        <xs:element ref="can_dye"/>
        <xs:element ref="race_permitted"/>
        <xs:element ref="bonus_attr4"/>
        <xs:element ref="bm_restrict_category"/>
        <xs:element ref="disposable_trade_item"/>
        <xs:element ref="disposable_trade_item_count"/>
        <xs:element ref="temporary_exchange_time"/>
        <xs:element ref="visual_slot"/>
        <xs:element ref="extract_skin_type"/>
        <xs:element ref="cannot_matter_option"/>
        <xs:element ref="cannot_extraction"/>
        <xs:element ref="abyss_point"/>
        <xs:element ref="bonus_attr12"/>
        <xs:element ref="abyss_item"/>
        <xs:element ref="abyss_item_count"/>
        <xs:element ref="desc_long"/>
        <xs:element ref="extra_currency_item"/>
        <xs:element ref="extra_currency_item_count"/>
        <xs:element ref="bonus_attr5"/>
        <xs:element ref="bonus_attr6"/>
        <xs:element ref="bonus_attr7"/>
        <xs:element ref="bonus_attr10"/>
        <xs:element ref="bonus_attr11"/>
        <xs:element ref="desc_craftman"/>
        <xs:element ref="expire_time"/>
        <xs:element ref="tag"/>
        <xs:element ref="guild_level_permitted"/>
        <xs:element ref="use_emblem"/>
        <xs:element ref="charge_way"/>
        <xs:element ref="charge_level"/>
        <xs:element ref="charge_price1"/>
        <xs:element ref="bonus_attr_a1"/>
        <xs:element ref="bonus_attr_a2"/>
        <xs:element ref="bonus_attr_a3"/>
        <xs:element ref="bonus_attr_a4"/>
        <xs:element ref="burn_on_attack"/>
        <xs:element ref="burn_on_defend"/>
        <xs:element ref="charge_price2"/>
        <xs:element ref="bonus_attr_b1"/>
        <xs:element ref="bonus_attr_b2"/>
        <xs:element ref="bonus_attr_b3"/>
        <xs:element ref="bonus_attr_b4"/>
        <xs:element ref="magical_defend"/>
        <xs:element ref="trade_in_item_list"/>
        <xs:element ref="magical_skill_boost_resist"/>
        <xs:element ref="random_option_set"/>
        <xs:element ref="usable_rank_min"/>
        <xs:element ref="reidentify_count"/>
        <xs:element ref="confirm_to_delete_cash_item"/>
        <xs:element ref="trade_in_abyss_point"/>
        <xs:element ref="max_hp"/>
        <xs:element ref="physical_critical_reduce_rate"/>
        <xs:element ref="block"/>
        <xs:element ref="damage_reduce"/>
        <xs:element ref="reduce_max"/>
        <xs:element ref="max_enchant_bonus"/>
        <xs:element ref="usable_rank_max"/>
        <xs:element ref="cash_available_minute"/>
        <xs:element ref="blade_fx"/>
        <xs:element ref="item_fx"/>
        <xs:element ref="gathering_point"/>
        <xs:element ref="weapon_type"/>
        <xs:element ref="dmg_decal"/>
        <xs:element ref="trail_tex"/>
        <xs:element ref="equip_bone"/>
        <xs:element ref="min_damage"/>
        <xs:element ref="max_damage"/>
        <xs:element ref="str"/>
        <xs:element ref="agi"/>
        <xs:element ref="kno"/>
        <xs:element ref="hit_accuracy"/>
        <xs:element ref="critical"/>
        <xs:element ref="parry"/>
        <xs:element ref="magical_skill_boost"/>
        <xs:element ref="magical_hit_accuracy"/>
        <xs:element ref="attack_type"/>
        <xs:element ref="attack_delay"/>
        <xs:element ref="hit_count"/>
        <xs:element ref="attack_gap"/>
        <xs:element ref="attack_range"/>
        <xs:element ref="can_proc_enchant"/>
        <xs:element ref="can_composite_weapon"/>
        <xs:element ref="can_polish"/>
        <xs:element ref="polish_burn_on_attack"/>
        <xs:element ref="polish_burn_on_defend"/>
        <xs:element ref="combat_equip_bone"/>
        <xs:element ref="basic_length"/>
        <xs:element ref="combat_item_fx"/>
        <xs:element ref="warrior_max"/>
        <xs:element ref="scout_max"/>
        <xs:element ref="mage_max"/>
        <xs:element ref="cleric_max"/>
        <xs:element ref="engineer_max"/>
        <xs:element ref="artist_max"/>
        <xs:element ref="fighter_max"/>
        <xs:element ref="knight_max"/>
        <xs:element ref="assassin_max"/>
        <xs:element ref="ranger_max"/>
        <xs:element ref="wizard_max"/>
        <xs:element ref="elementalist_max"/>
        <xs:element ref="chanter_max"/>
        <xs:element ref="priest_max"/>
        <xs:element ref="gunner_max"/>
        <xs:element ref="bard_max"/>
        <xs:element ref="rider_max"/>
        <xs:element ref="trade_in_price"/>
        <xs:element ref="ammo_bone"/>
        <xs:element ref="ammo_fx"/>
        <xs:element ref="ammo_speed"/>
        <xs:element ref="data"/>
        <xs:element ref="attack_fx"/>
        <xs:element ref="robot_name"/>
        <xs:element ref="extra_inventory"/>
        <xs:element ref="quest"/>
        <xs:element ref="quest_label"/>
        <xs:element ref="require_shard"/>
        <xs:element ref="gain_skill1"/>
        <xs:element ref="gain_level1"/>
        <xs:element ref="require_skill1"/>
        <xs:element ref="require_skill2"/>
        <xs:element ref="stigma_type"/>
        <xs:element ref="gain_skill2"/>
        <xs:element ref="gain_level2"/>
        <xs:element ref="tool_type"/>
        <xs:element ref="motion_name"/>
        <xs:element ref="combineskill"/>
        <xs:element ref="category"/>
        <xs:element ref="boost_str_desc"/>
        <xs:element ref="boost_material"/>
        <xs:element ref="boost_material_num"/>
        <xs:element ref="disassembly_item"/>
        <xs:element ref="activation_mode"/>
        <xs:element ref="activation_count"/>
        <xs:element ref="breakdown"/>
        <xs:element ref="activate_target"/>
        <xs:element ref="use_delay_type_id"/>
        <xs:element ref="use_delay"/>
        <xs:element ref="casting_delay"/>
        <xs:element ref="target_item_category"/>
        <xs:element ref="ap_extraction_rate"/>
        <xs:element ref="sub_enchant_material_many"/>
        <xs:element ref="package_permitted"/>
        <xs:element ref="polish_set_name"/>
        <xs:element ref="sub_enchant_material_effect_type"/>
        <xs:element ref="sub_enchant_material_effect"/>
        <xs:element ref="target_item_level_min"/>
        <xs:element ref="target_item_level_max"/>
        <xs:element ref="stat_enchant_type1"/>
        <xs:element ref="stat_enchant_value1"/>
        <xs:element ref="stat_enchant_type2"/>
        <xs:element ref="stat_enchant_value2"/>
        <xs:element ref="stat_enchant_type3"/>
        <xs:element ref="stat_enchant_value3"/>
        <xs:element ref="stat_enchant_type4"/>
        <xs:element ref="stat_enchant_value4"/>
        <xs:element ref="stat_enchant_type5"/>
        <xs:element ref="stat_enchant_value5"/>
        <xs:element ref="proc_enchant_skill"/>
        <xs:element ref="proc_enchant_skill_level"/>
        <xs:element ref="proc_enchant_effect_occur_prob"/>
        <xs:element ref="proc_fx"/>
        <xs:element ref="desc_proc"/>
        <xs:element ref="proc_enchant_effect_occur_left_prob"/>
        <xs:element ref="charge_capacity"/>
        <xs:element ref="unit_sell_count"/>
        <xs:element ref="weapon_boost_value"/>
        <xs:element ref="dyeing_color"/>
        <xs:element ref="skill_to_learn"/>
        <xs:element ref="use_fx"/>
        <xs:element ref="use_fx_bone"/>
        <xs:element ref="summon_housing_object"/>
        <xs:element ref="doc_bg"/>
        <xs:element ref="custom_part_name"/>
        <xs:element ref="area_to_use"/>
        <xs:element ref="activation_skill"/>
        <xs:element ref="activation_level"/>
        <xs:element ref="activate_target_race"/>
        <xs:element ref="equip_type"/>
        <xs:element ref="difficulty"/>
        <xs:element ref="scale"/>
        <xs:element ref="booster_wing"/>
        <xs:element ref="func_pet_name"/>
        <xs:element ref="func_pet_dur_minute"/>
        <xs:element ref="craft_recipe_info"/>
        <xs:element ref="doping_pet_useable"/>
        <xs:element ref="ownership_world"/>
        <xs:element ref="default_prohibit"/>
        <xs:element ref="ride_usable"/>
        <xs:element ref="return_alias"/>
        <xs:element ref="return_worldid"/>
        <xs:element ref="drop_each_member"/>
        <xs:element ref="cash_social"/>
        <xs:element ref="cash_title"/>
        <xs:element ref="inven_warehouse_max_extendlevel"/>
        <xs:element ref="housing_change_size"/>
        <xs:element ref="cosmetic_name"/>
        <xs:element ref="coupon_item"/>
        <xs:element ref="coupon_item_count"/>
        <xs:element ref="toy_pet_name"/>
        <xs:element ref="use_notice"/>
        <xs:element ref="disassembly_type"/>
        <xs:element ref="assembly_item"/>
        <xs:element ref="custom_idle_anim"/>
        <xs:element ref="custom_run_anim"/>
        <xs:element ref="custom_jump_anim"/>
        <xs:element ref="custom_rest_anim"/>
        <xs:element ref="anim_expire_time"/>
        <xs:element ref="custom_shop_anim"/>
        <xs:element ref="reset_instance_coolt_sync_id"/>
        <xs:element ref="f2p_pack_name"/>
        <xs:element ref="f2p_pack_available"/>
        <xs:element ref="trial_user_can_vendor_buy"/>
        <xs:element ref="char_bm_name"/>
        <xs:element ref="char_bm_available_duration"/>
        <xs:element ref="bonus_addexp_item"/>
        <xs:element ref="megaphone_rgb"/>
        <xs:element ref="exp_extraction_cost"/>
        <xs:element ref="exp_extraction_reward"/>
        <xs:element ref="ride_data_name"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="client_items">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="client_item" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated_time" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="weapon_type" type="xs:string"/>
  <xs:element name="dmg_decal" type="xs:byte"/>
  <xs:element name="trail_tex" type="xs:string"/>
  <xs:element name="equip_bone" type="xs:string"/>
  <xs:element name="min_damage" type="xs:short"/>
  <xs:element name="max_damage" type="xs:short"/>
  <xs:element name="str" type="xs:byte"/>
  <xs:element name="agi" type="xs:byte"/>
  <xs:element name="kno" type="xs:byte"/>
  <xs:element name="hit_accuracy" type="xs:short"/>
  <xs:element name="critical" type="xs:byte"/>
  <xs:element name="parry" type="xs:short"/>
  <xs:element name="magical_skill_boost" type="xs:short"/>
  <xs:element name="magical_hit_accuracy" type="xs:short"/>
  <xs:element name="attack_type" type="xs:string"/>
  <xs:element name="attack_delay" type="xs:short"/>
  <xs:element name="hit_count" type="xs:byte"/>
  <xs:element name="attack_gap" type="xs:float"/>
  <xs:element name="attack_range" type="xs:float"/>
  <xs:element name="can_proc_enchant" type="xs:string"/>
  <xs:element name="can_composite_weapon" type="xs:string"/>
  <xs:element name="can_polish" type="xs:string"/>
  <xs:element name="polish_burn_on_attack" type="xs:byte"/>
  <xs:element name="polish_burn_on_defend" type="xs:byte"/>
  <xs:element name="combat_equip_bone" type="xs:string"/>
  <xs:element name="basic_length" type="xs:float"/>
  <xs:element name="combat_item_fx" type="xs:string"/>
  <xs:element name="warrior_max" type="xs:byte"/>
  <xs:element name="scout_max" type="xs:byte"/>
  <xs:element name="mage_max" type="xs:byte"/>
  <xs:element name="cleric_max" type="xs:byte"/>
  <xs:element name="engineer_max" type="xs:byte"/>
  <xs:element name="artist_max" type="xs:byte"/>
  <xs:element name="fighter_max" type="xs:byte"/>
  <xs:element name="knight_max" type="xs:byte"/>
  <xs:element name="assassin_max" type="xs:byte"/>
  <xs:element name="ranger_max" type="xs:byte"/>
  <xs:element name="wizard_max" type="xs:byte"/>
  <xs:element name="elementalist_max" type="xs:byte"/>
  <xs:element name="chanter_max" type="xs:byte"/>
  <xs:element name="priest_max" type="xs:byte"/>
  <xs:element name="gunner_max" type="xs:byte"/>
  <xs:element name="bard_max" type="xs:byte"/>
  <xs:element name="rider_max" type="xs:byte"/>
  <xs:element name="trade_in_price" type="xs:int"/>
  <xs:element name="ammo_bone" type="xs:string"/>
  <xs:element name="ammo_fx" type="xs:string"/>
  <xs:element name="ammo_speed" type="xs:byte"/>
  <xs:element name="attack_fx" type="xs:string"/>
  <xs:element name="robot_name" type="xs:string"/>
  <xs:element name="extra_inventory" type="xs:byte"/>
  <xs:element name="quest" type="xs:byte"/>
  <xs:element name="quest_label" type="xs:byte"/>
  <xs:element name="require_shard" type="xs:short"/>
  <xs:element name="gain_skill1" type="xs:string"/>
  <xs:element name="gain_level1" type="xs:byte"/>
  <xs:element name="require_skill1" type="xs:string"/>
  <xs:element name="require_skill2" type="xs:string"/>
  <xs:element name="stigma_type" type="xs:string"/>
  <xs:element name="gain_skill2" type="xs:string"/>
  <xs:element name="gain_level2" type="xs:byte"/>
  <xs:element name="tool_type" type="xs:string"/>
  <xs:element name="motion_name" type="xs:string"/>
  <xs:element name="combineskill" type="xs:string"/>
  <xs:element name="category" type="xs:string"/>
  <xs:element name="boost_str_desc" type="xs:string"/>
  <xs:element name="boost_material" type="xs:string"/>
  <xs:element name="boost_material_num" type="xs:byte"/>
  <xs:element name="disassembly_item" type="xs:byte"/>
  <xs:element name="activation_mode" type="xs:string"/>
  <xs:element name="activation_count" type="xs:short"/>
  <xs:element name="breakdown" type="xs:byte"/>
  <xs:element name="activate_target" type="xs:string"/>
  <xs:element name="use_delay_type_id" type="xs:short"/>
  <xs:element name="use_delay" type="xs:int"/>
  <xs:element name="casting_delay" type="xs:short"/>
  <xs:element name="target_item_category" type="xs:string"/>
  <xs:element name="ap_extraction_rate" type="xs:short"/>
  <xs:element name="sub_enchant_material_many" type="xs:short"/>
  <xs:element name="package_permitted" type="xs:byte"/>
  <xs:element name="polish_set_name" type="xs:string"/>
  <xs:element name="sub_enchant_material_effect_type" type="xs:string"/>
  <xs:element name="sub_enchant_material_effect" type="xs:short"/>
  <xs:element name="target_item_level_min" type="xs:byte"/>
  <xs:element name="target_item_level_max" type="xs:byte"/>
  <xs:element name="stat_enchant_type1" type="xs:string"/>
  <xs:element name="stat_enchant_value1" type="xs:byte"/>
  <xs:element name="stat_enchant_type2" type="xs:string"/>
  <xs:element name="stat_enchant_value2" type="xs:byte"/>
  <xs:element name="stat_enchant_type3" type="xs:string"/>
  <xs:element name="stat_enchant_value3" type="xs:byte"/>
  <xs:element name="stat_enchant_type4" type="xs:string"/>
  <xs:element name="stat_enchant_value4" type="xs:byte"/>
  <xs:element name="stat_enchant_type5" type="xs:string"/>
  <xs:element name="stat_enchant_value5" type="xs:byte"/>
  <xs:element name="proc_enchant_skill" type="xs:string"/>
  <xs:element name="proc_enchant_skill_level" type="xs:byte"/>
  <xs:element name="proc_enchant_effect_occur_prob" type="xs:short"/>
  <xs:element name="proc_fx" type="xs:string"/>
  <xs:element name="desc_proc" type="xs:string"/>
  <xs:element name="proc_enchant_effect_occur_left_prob" type="xs:short"/>
  <xs:element name="charge_capacity" type="xs:byte"/>
  <xs:element name="unit_sell_count" type="xs:byte"/>
  <xs:element name="weapon_boost_value" type="xs:byte"/>
  <xs:element name="dyeing_color" type="xs:string"/>
  <xs:element name="skill_to_learn" type="xs:string"/>
  <xs:element name="use_fx" type="xs:string"/>
  <xs:element name="use_fx_bone" type="xs:string"/>
  <xs:element name="summon_housing_object" type="xs:string"/>
  <xs:element name="doc_bg" type="xs:string"/>
  <xs:element name="custom_part_name" type="xs:string"/>
  <xs:element name="area_to_use" type="xs:string"/>
  <xs:element name="activation_skill" type="xs:string"/>
  <xs:element name="activation_level" type="xs:byte"/>
  <xs:element name="activate_target_race" type="xs:string"/>
  <xs:element name="equip_type" type="xs:byte"/>
  <xs:element name="difficulty" type="xs:string"/>
  <xs:element name="scale" type="xs:float"/>
  <xs:element name="booster_wing" type="xs:byte"/>
  <xs:element name="func_pet_name" type="xs:string"/>
  <xs:element name="func_pet_dur_minute" type="xs:int"/>
  <xs:element name="craft_recipe_info" type="xs:string"/>
  <xs:element name="doping_pet_useable" type="xs:byte"/>
  <xs:element name="ownership_world" type="xs:string"/>
  <xs:element name="default_prohibit" type="xs:string"/>
  <xs:element name="ride_usable" type="xs:byte"/>
  <xs:element name="return_alias" type="xs:string"/>
  <xs:element name="return_worldid" type="xs:int"/>
  <xs:element name="drop_each_member" type="xs:string"/>
  <xs:element name="cash_social" type="xs:short"/>
  <xs:element name="cash_title" type="xs:short"/>
  <xs:element name="inven_warehouse_max_extendlevel" type="xs:byte"/>
  <xs:element name="housing_change_size" type="xs:string"/>
  <xs:element name="cosmetic_name" type="xs:string"/>
  <xs:element name="coupon_item" type="xs:string"/>
  <xs:element name="coupon_item_count" type="xs:byte"/>
  <xs:element name="toy_pet_name" type="xs:string"/>
  <xs:element name="use_notice" type="xs:string"/>
  <xs:element name="disassembly_type" type="xs:byte"/>
  <xs:element name="assembly_item" type="xs:string"/>
  <xs:element name="custom_idle_anim" type="xs:string"/>
  <xs:element name="custom_run_anim" type="xs:string"/>
  <xs:element name="custom_jump_anim" type="xs:string"/>
  <xs:element name="custom_rest_anim" type="xs:string"/>
  <xs:element name="anim_expire_time" type="xs:int"/>
  <xs:element name="custom_shop_anim" type="xs:string"/>
  <xs:element name="reset_instance_coolt_sync_id" type="xs:string"/>
  <xs:element name="f2p_pack_name" type="xs:string"/>
  <xs:element name="f2p_pack_available" type="xs:int"/>
  <xs:element name="trial_user_can_vendor_buy" type="xs:byte"/>
  <xs:element name="char_bm_name" type="xs:string"/>
  <xs:element name="char_bm_available_duration" type="xs:int"/>
  <xs:element name="bonus_addexp_item" type="xs:string"/>
  <xs:element name="megaphone_rgb" type="xs:string"/>
  <xs:element name="exp_extraction_cost" type="xs:string"/>
  <xs:element name="exp_extraction_reward" type="xs:string"/>
  <xs:element name="ride_data_name" type="xs:string"/>
</xs:schema>