Bindings/xsd/aion40/input/quest_dialogs0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="p">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="font" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="visible" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="body">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="steps" minOccurs="0"/>
        <xs:element ref="p" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="html">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="body"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Act">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="href" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Contents">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="html"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="cdata" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Selects">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Act"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Voice">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="file" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="font">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="color" use="optional"/>
          <xs:attribute type="xs:string" name="font_xml" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="step">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="p"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="steps">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="step" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HtmlPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Contents" minOccurs="0"/>
        <xs:element ref="Selects" minOccurs="0"/>
        <xs:element ref="Voice" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="HtmlPages">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="HtmlPage" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>