Bindings/xsd/aion40/input/strings0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="id" type="xs:int"/>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="body" type="xs:string"/>
  <xs:element name="string">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="name"/>
        <xs:element ref="body" minOccurs="0"/>
        <xs:element ref="message_type" minOccurs="0"/>
        <xs:element ref="display_type" minOccurs="0"/>
        <xs:element ref="ment" minOccurs="0"/>
        <xs:element ref="__review__" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="strings">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="string" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated_time" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="message_type" type="xs:string"/>
  <xs:element name="display_type" type="xs:short"/>
  <xs:element name="ment" type="xs:string"/>
  <xs:element name="__review__" type="xs:byte"/>
  <xs:element name="rank" type="xs:byte"/>
  <xs:element name="string_tip">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="name"/>
        <xs:element ref="body"/>
        <xs:element ref="rank"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="string_tips">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="string_tip" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated_time"/>
    </xs:complexType>
  </xs:element>
</xs:schema>