Bindings/xsd/aion40/input/zone_maps0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="id" type="xs:int"/>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="world_width" type="xs:short"/>
  <xs:element name="world_height" type="xs:short"/>
  <xs:element name="map_category" type="xs:string"/>
  <xs:element name="offset_x" type="xs:short"/>
  <xs:element name="offset_y" type="xs:short"/>
  <xs:element name="map_width" type="xs:short"/>
  <xs:element name="map_height" type="xs:short"/>
  <xs:element name="zonemap">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="name"/>
        <xs:element ref="world_width"/>
        <xs:element ref="world_height"/>
        <xs:element ref="map_category" minOccurs="0"/>
        <xs:element ref="offset_x" minOccurs="0"/>
        <xs:element ref="offset_y" minOccurs="0"/>
        <xs:element ref="map_width" minOccurs="0"/>
        <xs:element ref="map_height" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zonemaps">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="zonemap" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated_time" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>