Jar_Jar_Bean/xsd/aion40/input/housing0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="id" type="xs:int"/>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="world_id" type="xs:int"/>
  <xs:element name="world_name" type="xs:string"/>
  <xs:element name="subzone1_name" type="xs:string"/>
  <xs:element name="subzone1_desc" type="xs:string"/>
  <xs:element name="subzone2_name" type="xs:string"/>
  <xs:element name="subzone2_desc" type="xs:string"/>
  <xs:element name="house_name" type="xs:string"/>
  <xs:element name="house_desc" type="xs:string"/>
  <xs:element name="map_world_id" type="xs:int"/>
  <xs:element name="map_position" type="xs:string"/>
  <xs:element name="town_id" type="xs:int"/>
  <xs:element name="client_housing_address">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="name"/>
        <xs:element ref="world_id"/>
        <xs:element ref="world_name"/>
        <xs:element ref="subzone1_name"/>
        <xs:element ref="subzone1_desc"/>
        <xs:element ref="subzone2_name"/>
        <xs:element ref="subzone2_desc"/>
        <xs:element ref="house_name"/>
        <xs:element ref="house_desc"/>
        <xs:element ref="map_world_id" minOccurs="0"/>
        <xs:element ref="map_position" minOccurs="0"/>
        <xs:element ref="town_id" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="client_housing_addresss">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="client_housing_address" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated_time"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="desc" type="xs:string"/>
  <xs:element name="category" type="xs:string"/>
  <xs:element name="type" type="xs:string"/>
  <xs:element name="size" type="xs:string"/>
  <xs:element name="dir" type="xs:string"/>
  <xs:element name="mesh" type="xs:string"/>
  <xs:element name="icon_name" type="xs:string"/>
  <xs:element name="tag" type="xs:string"/>
  <xs:element name="flagscale1" type="xs:int"/>
  <xs:element name="flagscale2" type="xs:int"/>
  <xs:element name="default_roof" type="xs:string"/>
  <xs:element name="default_outwall" type="xs:string"/>
  <xs:element name="default_frame" type="xs:string"/>
  <xs:element name="default_door" type="xs:string"/>
  <xs:element name="default_inwall" type="xs:string"/>
  <xs:element name="default_infloor" type="xs:string"/>
  <xs:element name="default_garden" type="xs:string"/>
  <xs:element name="default_fence" type="xs:string"/>
  <xs:element name="client_housing_building">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="name"/>
        <xs:element ref="desc"/>
        <xs:element ref="category"/>
        <xs:element ref="type"/>
        <xs:element ref="size"/>
        <xs:element ref="dir"/>
        <xs:element ref="mesh"/>
        <xs:element ref="icon_name"/>
        <xs:element ref="tag" minOccurs="0"/>
        <xs:element ref="default_roof" minOccurs="0"/>
        <xs:element ref="default_outwall" minOccurs="0"/>
        <xs:element ref="default_frame" minOccurs="0"/>
        <xs:element ref="default_door" minOccurs="0"/>
        <xs:element ref="default_inwall" minOccurs="0"/>
        <xs:element ref="default_infloor" minOccurs="0"/>
        <xs:element ref="default_garden" minOccurs="0"/>
        <xs:element ref="default_fence" minOccurs="0"/>
        <xs:element ref="flagscale1"/>
        <xs:element ref="flagscale2"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="client_housing_buildings">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="client_housing_building" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated_time"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="filename" type="xs:string"/>
  <xs:element name="color" type="xs:string"/>
  <xs:element name="quality" type="xs:string"/>
  <xs:element name="client_housing_custom_part">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="name"/>
        <xs:element ref="desc"/>
        <xs:element ref="dir"/>
        <xs:element ref="filename"/>
        <xs:element ref="color" minOccurs="0"/>
        <xs:element ref="type"/>
        <xs:element ref="tag"/>
        <xs:element ref="quality"/>
        <xs:element ref="icon_name"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="client_housing_custom_parts">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="client_housing_custom_part" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated_time"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="center_x" type="xs:float"/>
  <xs:element name="center_y" type="xs:float"/>
  <xs:element name="center_z" type="xs:float"/>
  <xs:element name="building" type="xs:string"/>
  <xs:element name="data">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="building"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tribe" type="xs:string"/>
  <xs:element name="building_offset">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="center_x"/>
        <xs:element ref="center_y"/>
        <xs:element ref="center_z"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="default_building_name" type="xs:string"/>
  <xs:element name="default_manager_npc" type="xs:string"/>
  <xs:element name="default_sign_nosale" type="xs:string"/>
  <xs:element name="default_sign_sale" type="xs:string"/>
  <xs:element name="default_sign_waiting" type="xs:string"/>
  <xs:element name="default_sign_home" type="xs:string"/>
  <xs:element name="default_teleport_obj" type="xs:string"/>
  <xs:element name="sale_price_gold" type="xs:int"/>
  <xs:element name="sale_price_housingpoint" type="xs:int"/>
  <xs:element name="fee" type="xs:int"/>
  <xs:element name="sale_level" type="xs:int"/>
  <xs:element name="floor" type="xs:int"/>
  <xs:element name="room" type="xs:int"/>
  <xs:element name="addon" type="xs:int"/>
  <xs:element name="emblem" type="xs:int"/>
  <xs:element name="interior" type="xs:int"/>
  <xs:element name="exterior" type="xs:int"/>
  <xs:element name="interior_area" type="xs:string"/>
  <xs:element name="exterior_area" type="xs:string"/>
  <xs:element name="building_list">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="data" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buff_icon" type="xs:string"/>
  <xs:element name="buff_desc" type="xs:string"/>
  <xs:element name="buff_desc_long" type="xs:string"/>
  <xs:element name="client_housing_land">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="name"/>
        <xs:element ref="desc"/>
        <xs:element ref="tribe"/>
        <xs:element ref="type"/>
        <xs:element ref="size"/>
        <xs:element ref="building_offset"/>
        <xs:element ref="default_building_name"/>
        <xs:element ref="default_manager_npc"/>
        <xs:element ref="default_sign_nosale"/>
        <xs:element ref="default_sign_sale"/>
        <xs:element ref="default_sign_waiting"/>
        <xs:element ref="default_sign_home"/>
        <xs:element ref="default_teleport_obj"/>
        <xs:element ref="sale_price_gold"/>
        <xs:element ref="sale_price_housingpoint"/>
        <xs:element ref="fee"/>
        <xs:element ref="sale_level"/>
        <xs:element ref="floor"/>
        <xs:element ref="room"/>
        <xs:element ref="addon"/>
        <xs:element ref="emblem"/>
        <xs:element ref="interior"/>
        <xs:element ref="exterior"/>
        <xs:element ref="interior_area"/>
        <xs:element ref="exterior_area"/>
        <xs:element ref="building_list"/>
        <xs:element ref="buff_icon"/>
        <xs:element ref="buff_desc"/>
        <xs:element ref="buff_desc_long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="client_housing_lands">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="client_housing_land"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated_time"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="housing_size_tag" type="xs:string"/>
  <xs:element name="place_area" type="xs:string"/>
  <xs:element name="place_location" type="xs:string"/>
  <xs:element name="talking_distance" type="xs:float"/>
  <xs:element name="housingobj_max_use_days" type="xs:int"/>
  <xs:element name="cursor_type" type="xs:string"/>
  <xs:element name="ui_sound_type" type="xs:string"/>
  <xs:element name="housingobj_function" type="xs:string"/>
  <xs:element name="in_house_warehouse_idx" type="xs:int"/>
  <xs:element name="place_limit_tag" type="xs:string"/>
  <xs:element name="cannot_changecolor" type="xs:int"/>
  <xs:element name="desc_long" type="xs:string"/>
  <xs:element name="default_color" type="xs:string"/>
  <xs:element name="npcname" type="xs:string"/>
  <xs:element name="fx_name" type="xs:string"/>
  <xs:element name="fx_bone_name" type="xs:string"/>
  <xs:element name="guild_level_permitted" type="xs:int"/>
  <xs:element name="housing_script_setpos" type="xs:int"/>
  <xs:element name="tooltip_type" type="xs:string"/>
  <xs:element name="pc_use_type" type="xs:int"/>
  <xs:element name="owner_usecount_per_day" type="xs:int"/>
  <xs:element name="pc_use_final_condition" type="xs:int"/>
  <xs:element name="required_item" type="xs:string"/>
  <xs:element name="check_type" type="xs:int"/>
  <xs:element name="erase_value" type="xs:int"/>
  <xs:element name="reward_use" type="xs:string"/>
  <xs:element name="use_delay" type="xs:int"/>
  <xs:element name="use_cooltime" type="xs:int"/>
  <xs:element name="user_animation" type="xs:string"/>
  <xs:element name="request_category" type="xs:string"/>
  <xs:element name="pc_use_count_max" type="xs:int"/>
  <xs:element name="reward_final" type="xs:string"/>
  <xs:element name="housingobj_max_use" type="xs:int"/>
  <xs:element name="client_housing_object">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="name"/>
        <xs:element ref="desc"/>
        <xs:element ref="desc_long"/>
        <xs:element ref="category"/>
        <xs:element ref="quality"/>
        <xs:element ref="housingobj_function"/>
        <xs:element ref="in_house_warehouse_idx"/>
        <xs:element ref="place_limit_tag"/>
        <xs:element ref="npcname"/>
        <xs:element ref="housing_size_tag"/>
        <xs:element ref="type"/>
        <xs:element ref="place_area"/>
        <xs:element ref="place_location"/>
        <xs:element ref="talking_distance"/>
        <xs:element ref="housingobj_max_use_days"/>
        <xs:element ref="dir"/>
        <xs:element ref="mesh"/>
        <xs:element ref="cannot_changecolor"/>
        <xs:element ref="default_color"/>
        <xs:element ref="fx_name"/>
        <xs:element ref="fx_bone_name"/>
        <xs:element ref="icon_name"/>
        <xs:element ref="cursor_type"/>
        <xs:element ref="ui_sound_type"/>
        <xs:element ref="guild_level_permitted"/>
        <xs:element ref="housing_script_setpos"/>
        <xs:element ref="tooltip_type"/>
        <xs:element ref="pc_use_type"/>
        <xs:element ref="owner_usecount_per_day"/>
        <xs:element ref="pc_use_final_condition"/>
        <xs:element ref="required_item"/>
        <xs:element ref="check_type"/>
        <xs:element ref="erase_value"/>
        <xs:element ref="reward_use"/>
        <xs:element ref="use_delay"/>
        <xs:element ref="use_cooltime"/>
        <xs:element ref="user_animation"/>
        <xs:element ref="request_category"/>
        <xs:element ref="pc_use_count_max"/>
        <xs:element ref="reward_final"/>
        <xs:element ref="housingobj_max_use"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="client_housing_objects">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="client_housing_object" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated_time"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="personal_types_max" type="xs:int"/>
  <xs:element name="personal_typea_max" type="xs:int"/>
  <xs:element name="personal_typeb_max" type="xs:int"/>
  <xs:element name="personal_typec_max" type="xs:int"/>
  <xs:element name="personal_typed_max" type="xs:int"/>
  <xs:element name="trial_personal_types_max" type="xs:int"/>
  <xs:element name="trial_personal_typea_max" type="xs:int"/>
  <xs:element name="trial_personal_typeb_max" type="xs:int"/>
  <xs:element name="trial_personal_typec_max" type="xs:int"/>
  <xs:element name="trial_personal_typed_max" type="xs:int"/>
  <xs:element name="client_housing_object_place_tag">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="name"/>
        <xs:element ref="desc" minOccurs="0"/>
        <xs:element ref="personal_types_max"/>
        <xs:element ref="personal_typea_max"/>
        <xs:element ref="personal_typeb_max"/>
        <xs:element ref="personal_typec_max"/>
        <xs:element ref="personal_typed_max"/>
        <xs:element ref="trial_personal_types_max"/>
        <xs:element ref="trial_personal_typea_max"/>
        <xs:element ref="trial_personal_typeb_max"/>
        <xs:element ref="trial_personal_typec_max"/>
        <xs:element ref="trial_personal_typed_max"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="client_housing_object_place_tags">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="client_housing_object_place_tag" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated_time"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="icon_world_name" type="xs:string"/>
  <xs:element name="icon_x" type="xs:int"/>
  <xs:element name="icon_y" type="xs:int"/>
  <xs:element name="client_housing_town">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="name"/>
        <xs:element ref="desc"/>
        <xs:element ref="icon_world_name"/>
        <xs:element ref="icon_x"/>
        <xs:element ref="icon_y"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="client_housing_towns">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="client_housing_town" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated_time"/>
    </xs:complexType>
  </xs:element>
</xs:schema>