Jar Jar Bean/xsd/aion40/output/items0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="weapon_stats">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="hit_count" use="optional"/>
          <xs:attribute type="xs:int" name="attack_range" use="optional"/>
          <xs:attribute type="xs:int" name="parry" use="optional"/>
          <xs:attribute type="xs:int" name="physical_critical" use="optional"/>
          <xs:attribute type="xs:int" name="attack_speed" use="optional"/>
          <xs:attribute type="xs:int" name="max_damage" use="optional"/>
          <xs:attribute type="xs:int" name="min_damage" use="optional"/>
          <xs:attribute type="xs:int" name="physical_accuracy" use="optional"/>
          <xs:attribute type="xs:int" name="magical_accuracy" use="optional"/>
          <xs:attribute type="xs:int" name="boost_magical_skill" use="optional"/>
          <xs:attribute type="xs:int" name="reduce_max" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="add">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="conditions" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:int" name="value" use="optional"/>
      <xs:attribute type="xs:string" name="bonus" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifiers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="add" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="rate" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rate">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="conditions" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:int" name="value" use="optional"/>
      <xs:attribute type="xs:string" name="bonus" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="acquisition">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="type" use="optional"/>
          <xs:attribute type="xs:int" name="ap" use="optional"/>
          <xs:attribute type="xs:int" name="item" use="optional"/>
          <xs:attribute type="xs:int" name="count" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="charge">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="level" use="optional"/>
          <xs:attribute type="xs:int" name="capacity" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="conditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="charge"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="improve">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="way" use="optional"/>
          <xs:attribute type="xs:int" name="level" use="optional"/>
          <xs:attribute type="xs:int" name="burn_attack" use="optional"/>
          <xs:attribute type="xs:int" name="burn_defend" use="optional"/>
          <xs:attribute type="xs:int" name="price1" use="optional"/>
          <xs:attribute type="xs:int" name="price2" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="tradein_item">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="id" use="optional"/>
          <xs:attribute type="xs:int" name="price" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="tradein_list">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tradein_item" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uselimits">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="rank_min" use="optional"/>
          <xs:attribute type="xs:int" name="rank_max" use="optional"/>
          <xs:attribute type="xs:int" name="usedelayid" use="optional"/>
          <xs:attribute type="xs:int" name="usedelay" use="optional"/>
          <xs:attribute type="xs:string" name="usearea" use="optional"/>
          <xs:attribute type="xs:string" name="gender" use="optional"/>
          <xs:attribute type="xs:int" name="ownership_world" use="optional"/>
          <xs:attribute type="xs:int" name="usable_ride" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="stigma">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="require_skill" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute type="xs:int" name="shard" use="optional"/>
      <xs:attribute type="xs:string" name="skill" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="skillId" type="xs:int"/>
  <xs:element name="require_skill">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="skillId" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="decompose" type="xs:string"/>
  <xs:element name="actions">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="decompose"/>
        <xs:element ref="extract"/>
        <xs:element ref="enchant"/>
        <xs:element ref="charge"/>
        <xs:element ref="dye"/>
        <xs:element ref="skilllearn" maxOccurs="unbounded"/>
        <xs:element ref="houseobject"/>
        <xs:element ref="housedeco"/>
        <xs:element ref="skilluse"/>
        <xs:element ref="read"/>
        <xs:element ref="queststart"/>
        <xs:element ref="toypetadopt"/>
        <xs:element ref="craftlearn"/>
        <xs:element ref="fireworkact"/>
        <xs:element ref="learnemotion"/>
        <xs:element ref="titleadd"/>
        <xs:element ref="expandinventory"/>
        <xs:element ref="cosmetic"/>
        <xs:element ref="toypetspawn"/>
        <xs:element ref="assemble"/>
        <xs:element ref="animation"/>
        <xs:element ref="instancetimeclear"/>
        <xs:element ref="ride"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="extract" type="xs:string"/>
  <xs:element name="enchant">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="count" use="optional"/>
          <xs:attribute type="xs:float" name="chance" use="optional"/>
          <xs:attribute type="xs:string" name="manastone_only" use="optional"/>
          <xs:attribute type="xs:int" name="min_level" use="optional"/>
          <xs:attribute type="xs:int" name="max_level" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="godstone">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="probabilityleft" use="optional"/>
          <xs:attribute type="xs:int" name="probability" use="optional"/>
          <xs:attribute type="xs:int" name="skilllvl" use="optional"/>
          <xs:attribute type="xs:int" name="skillid" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="dye">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="color" use="optional"/>
          <xs:attribute type="xs:int" name="minutes" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="skilllearn">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="skillid" use="optional"/>
          <xs:attribute type="xs:string" name="class" use="optional"/>
          <xs:attribute type="xs:int" name="level" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="houseobject">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="id" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="housedeco">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="id" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="skilluse">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="level" use="optional"/>
          <xs:attribute type="xs:int" name="skillid" use="optional"/>
          <xs:attribute type="xs:int" name="worldId" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="read" type="xs:string"/>
  <xs:element name="queststart">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="questid" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="toypetadopt">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="petid" use="optional"/>
          <xs:attribute type="xs:int" name="minutes" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="craftlearn">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="recipeid" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="fireworkact" type="xs:string"/>
  <xs:element name="learnemotion">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="emotionid" use="optional"/>
          <xs:attribute type="xs:int" name="minutes" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="titleadd">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="titleid" use="optional"/>
          <xs:attribute type="xs:int" name="minutes" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="expandinventory">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="level" use="optional"/>
          <xs:attribute type="xs:string" name="storage" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="cosmetic">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="toypetspawn">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="npcid" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="assemble">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="item" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="animation">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="idle" use="optional"/>
          <xs:attribute type="xs:int" name="run" use="optional"/>
          <xs:attribute type="xs:int" name="jump" use="optional"/>
          <xs:attribute type="xs:int" name="rest" use="optional"/>
          <xs:attribute type="xs:int" name="minutes" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="mapid" type="xs:int"/>
  <xs:element name="instancetimeclear">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mapid" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ride">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="npc_id" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="item_template">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="modifiers" minOccurs="0"/>
        <xs:element ref="weapon_stats" minOccurs="0"/>
        <xs:element ref="acquisition" minOccurs="0"/>
        <xs:element ref="tradein_list" minOccurs="0"/>
        <xs:element ref="improve" minOccurs="0"/>
        <xs:element ref="uselimits" minOccurs="0"/>
        <xs:element ref="stigma" minOccurs="0"/>
        <xs:element ref="actions" minOccurs="0"/>
        <xs:element ref="godstone" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:int" name="id" use="optional"/>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:int" name="level" use="optional"/>
      <xs:attribute type="xs:int" name="mask" use="optional"/>
      <xs:attribute type="xs:string" name="category" use="optional"/>
      <xs:attribute type="xs:string" name="weapon_type" use="optional"/>
      <xs:attribute type="xs:int" name="max_stack_count" use="optional"/>
      <xs:attribute type="xs:string" name="item_type" use="optional"/>
      <xs:attribute type="xs:string" name="quality" use="optional"/>
      <xs:attribute type="xs:int" name="price" use="optional"/>
      <xs:attribute type="xs:string" name="race" use="optional"/>
      <xs:attribute type="xs:string" name="no_enchant" use="optional"/>
      <xs:attribute type="xs:int" name="option_slot_bonus" use="optional"/>
      <xs:attribute type="xs:string" name="restrict" use="optional"/>
      <xs:attribute type="xs:int" name="desc" use="optional"/>
      <xs:attribute type="xs:string" name="attack_type" use="optional"/>
      <xs:attribute type="xs:float" name="attack_gap" use="optional"/>
      <xs:attribute type="xs:int" name="slot" use="optional"/>
      <xs:attribute type="xs:string" name="equipment_type" use="optional"/>
      <xs:attribute type="xs:int" name="activate_count" use="optional"/>
      <xs:attribute type="xs:int" name="m_slots" use="optional"/>
      <xs:attribute type="xs:int" name="m_slots_r" use="optional"/>
      <xs:attribute type="xs:int" name="temp_exchange_time" use="optional"/>
      <xs:attribute type="xs:int" name="expire_time" use="optional"/>
      <xs:attribute type="xs:string" name="restrict_max" use="optional"/>
      <xs:attribute type="xs:string" name="activate_target" use="optional"/>
      <xs:attribute type="xs:int" name="weapon_boost" use="optional"/>
      <xs:attribute type="xs:string" name="armor_type" use="optional"/>
      <xs:attribute type="xs:string" name="dye" use="optional"/>
      <xs:attribute type="xs:int" name="return_world" use="optional"/>
      <xs:attribute type="xs:string" name="return_alias" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="item_templates">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="item_template" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>